h1{
    text-align: center;
}

body{
    background-color: rgb(52, 182, 186);
}

li{
    margin: 10px;
}

.rulesView{
    display: flex;
    justify-content: center;
    list-style-position: inside;
    font-size: 30px;
    background-color:rgba(35, 168, 235, 0.50);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#head{
    text-align: center;
    font-size: 100px;
    text-decoration: solid;
    border-radius: 10px;
    background-color:rgba(35, 168, 235, 0.50);
    margin-left: 25%;
    margin-right: 25%;
}
