h1{
    text-align: center;
}

body{
    background-color: cadetblue;
}

li{
    margin: 10px;
}

.rulesView{
    display: flex;
    justify-content: center;
    list-style-position: inside;
    font-size: 30px;
    background-color:rgb(51, 63, 202);
    border-radius: 100px; 
    margin-left: 10%;
    margin-right: 10%;
}

#head{
    text-align: center;
    font-size: 100px;
    text-decoration: solid;
    border-radius: 100px;
    background-color: rgb(51, 63, 202);
    margin-left: 25%;
    margin-right: 25%;
}
