h1{
    text-align: center;
}

body{
    background-color: darkgrey;
}
.userWeapons{
    margin-left: auto; 
    border: thick solid rgb(25, 25, 119); 
    float: right; 
}

.userWeapons img{
    width: 50px; 
}

.botWeapons{
    border: thick solid red;
    float: left; 
}

.botWeapons img{
    width: 50px;  
}

.roundTracker{
    text-align: center;
    padding-bottom: 85px;
}

.roundTracker td{
    border: thick solid black;
}

.weaponsDisplay{
    text-align: center;
}

.weaponsDisplay img{
    width: 100px;
}

.reset{
    text-align: center;
}

th{
    text-align: center;
}